body {
    font-family: 'Helvetica';
  }
  h1,
  h2,
  h3 {
    margin: 0.5rem 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  a {
    text-decoration: none;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .row.center {
    align-items: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .block {
    background-color: #F7FAFC;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .text-right {
    text-align: right;
  }

 .Apps button {
    font-size: 0.8rem;
    padding: 10px;
    margin: 100px;
    width: 100%;
    cursor: pointer;
  }


  .Apps button.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
  }


