.picture11{
    height:38rem;
    width:31rem;
  }

  .Apicture12 {
    height: 38rem;
    width: 81.6rem;
  }

  .b_flex {
    display:flex;   
  }
/* Why MYOB*/
  .text1 {
    padding-left: 363px;
    font-size: 30px;
  }


  /*text below whymyob*/
  .label{
    font-size: 30px;
    padding-left: 5px;
}
.paragraph{
  padding-left: 100px;
    font-size: 5px;

}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 50px;
  column-gap:150px;
  row-gap: 50px;
  padding-left: 100px;
  padding-right: 150px;
  padding-bottom: 20px;
}

  /*  */