
.checkoutpayment_Pic{
    height:100%;
    width: 100%;
 
}
.checkoutpayment_info{
    position: relative;
    height: 1100px;
}

.checkoutpayment_rectangle{
    display: inline-block;
    background: #F7FAFC;
    border-radius: 20px;
    width: 45%;
    height: 900px;
    top: 50px;
    bottom: 5%;
    left: 5%;
    right: 6%;
    position: absolute;
}

.checkoutpayment_text{
    display: inline-flex;
    column-gap: 30px;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 100px;
}

.checkoutpayment_header{
    text-align: left;
    font-size: 20px;
    padding-left: 150px;
    padding-bottom: 20px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}
.checkoutpayment_cardnumber{
    padding-top: 20px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.checkout_payment_cardnumber{
    color: #718096;
}
.checkout_payment_cardnumber_textb{
    width: 65%;
    height: 50px;
    top: 20%;
    margin-top: 15px;
    padding-top: 5px;
    background: #E2E8F0;
    border-radius: 10px;
    border: white;
    font-size: 17px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 10px;
}

.checkoutpayment_nameoncard{
    padding-top: 20px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.checkout_payment_nameoncard_text{
    bottom: 200px;
    color: #718096;
}
.checkout_payment_nameoncard_textb{
    width: 65%;
    height: 50px;
    margin-top: 15px;
    padding-top: 5px;
    background: #E2E8F0;
    border-radius: 10px;
    border: white;
    font-size: 17px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 10px;
}

.checkoutpayment_cardexpiration_cvs{
    display: flex;
    position: absolute;
    column-gap: 170px;
    padding-top: 15px;
    padding-left: 200px;
}

.checkout_payment_cardexpiration_text{
    padding-bottom: 10px;
    color: #718096;
}

.checkout_payment_cardexpiration_textb{
    margin-left: 30px;
    width: 230px;
    height: 55px;
    background: #E2E8F0;
    border-radius: 10px;
    border: white;
    font-size: 17px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 10px;
}

.checkoutpayment_cardexpiration_cvs_textb{
    display: inline-flexbox;
    position: absolute;
    padding-top: 50px;
    padding-left: 170px;
}

.checkoutpayment_cardcvs_text{
    padding-bottom: 10px;
    color: #718096;
}

.checkoutpayment_cardcvs_textb{
    width: 150px;
    height: 55px;
    margin-left: 30px;
    background: #E2E8F0;
    border-radius: 10px;
    border: white;
    font-size: 16px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 10px;
}

.checkoutpayment_align-line{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 145px;
}

.checkoutpayment_button{
    display: flex;
    padding-top: 15px;
    padding-left: 360px;
}
.checkoutpayment_cancel_button{
    display: inline-flex;
    padding-top: 15px;
}

.p {
    margin: auto;
    text-align: center;
}

.checkout_payment_rectangle{
    display: inline-block;
    background: #F7FAFC;
    border-radius: 20px;
    top: 4px;
    width: 90%;
    height: 900px;
    left: 950px;
    right: 4%;
    position: absolute;
}

.checkoutpayment_summary{
    text-align: left;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 90px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.checkoutpayment_price_text{
    text-align: justify;
    line-height: 40px;
    font-size: 18px;
    padding-top: 350px;
    padding-bottom: 30px;
    padding-left: 90px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.checkoutpayment_price_total{
    font-size: 20px;
    padding-top: 40px;
    padding-left: 90px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}