.picture11{
    height:38rem;
    width:25rem;
  }
  .picture12 {
    height: 30rem;
    width: 45rem;
  }
  .Apicture12 {
    height: 38rem;
    width: 81.6rem;
  }

  .b_flex {
    display:flex;   
  }
  /*  */