.picture11{
    height:38rem;
    width:31rem;
  }
  .picture12 {
    height: 30rem;
    width: 70rem;
  }
  .Apicture12 {
    height: 38rem;
    width: 81.6rem;
  }

  .b_flex {
    display:flex;   
  }
/* Why MYOB*/
  .header {
    padding-left: 363px;
    font-size: 30px;
  }


  /*text below whymyob*/
  .label{
    font-size: 25px;
    padding-left: 5px;
    
}

  /*  */