*{
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.topcheckout_Pic{
    left: 0%;
}

.checkout_pic{
    height:100%;
    width: 100%;
}

.checkoutrectangle{
    background: #F7FAFC;
    border-radius: 20px;
    width: 45%;
    height: 500px;
    bottom: 10%;
    left: 2%;
    right: 2%;
    position:relative;
}

.checkout_text{
    display: inline-flex;
    column-gap: 25px;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 100px;
}

.checkoutheader{
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 150px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.email{
    text-align: left;
    font-size: 15px;
    color: #718096;
    padding-bottom: 30px;
    padding-left: 150px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.text{
    border-radius: 20px;
    width: 10%;
    height: 50px;
}