.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  width: 1100px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin-left: 190px;
  margin-top: 50px;
  
}
th {
  text-align: left;
}
td {
  text-align: left;
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: purple;}
tr:nth-child(even) {background-color: #f2f2f2;
}

.btn-delete{
  height: 30px;
  width: 80px;
  border-radius: 20px;
  background-color: purple;
  color: white;
}
.btn-update{
  height: 30px;
  width: 80px;
  border-radius: 20px;
  background-color: purple;
  color: white;
}