.navbar {
  background: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  max-width: 100%;

}

.navbar-logo {
  color: black;

  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}



.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
}



.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}


.nav-links:hover {
  color: lightgreen;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
 
}

.btn--outline {
  color:black;
  border-color: black;
  border-radius: 2rem;
  font-size: 15px;
  width: 130px;
  height: 40px;
}

.menu-icon {
  display: none;
}

.photo {
  width: 100px;
  height: 50px;
}

.fa-soild {
  color: black;
  height: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;


}

.menu-content a{
  color: black;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown:hover .menu-content {
  display: block;
  background-color: white;
  text-decoration: none;
  height: 130px;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list_try {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.nav-links1 {
  text-decoration: none;
  color: black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 2rem;
}