* {
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.navbar {
  background: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  max-width: 100%;

}

.navbar-logo {
  color: black;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fa-user {
  
  margin: auto;
 
}


.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
}



.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}


.nav-links:hover {
  color: lightgreen;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
 
}

.btn--outline {
  color:black;
  border-color: black;
  border-radius: 2rem;
  font-size: 15px;
  width: 130px;
  height: 40px;
}

.menu-icon {
  display: none;
}

.photo {
  width: 100px;
  height: 50px;
}

.fa-soild {
  color: black;
  height: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;


}

.menu-content a{
  color: black;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown:hover .menu-content {
  display: block;
  background-color: white;
  text-decoration: none;
  height: 130px;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list_try {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.nav-links1 {
  text-decoration: none;
  color: black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0px;
  top: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  
  background-color: #fefefe;
  margin: 4% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
 
  scroll-behavior: unset;
}

.modal.footer {
  padding-top: 20px;
}

.loginbtn {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: black;
  border-radius: 2rem;
  background-color: white;
 
}

.loginbtn:hover {
  cursor: pointer;
}

.logininput {
  display: flex;
  padding-right: 150px;
}

.login_pic {
  justify-content: space-between;
  width: 150%;
  height: 100%;
  margin-right: 300px;
}

.leftlogin{
  padding: 20px;
  padding-bottom: 70px;

}

.logininputtry {
  
  padding-left: 120px;
  padding-right: 120px;
  
}

.logininput1 {
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 3px grey;
  background-color: #F6F6F6;
  border-color: white;
}

.fa-square-facebook{
  color: blue;
}

.fa-linkedin {
  color: rgb(23, 23, 197);
}

.login_title{
 text-align: center;
}

.title {
  font-size: 50px;
}

.model-links {
  text-decoration: none;
}

.submitting {
  padding-left: 100px;
}

.rmbmeandforget {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-left: 5%;
  
  
}

.submit {
  width: 65%;
  height: 30px;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(129, 14, 129);
  border-color: white;
  margin-bottom: 20px;
  font-size: 15px;
  margin-left: 5%;
}

.cracc {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 50px;
}

.login_pic1 {
  height: 12%;
  width: 24%;
 

}


.forgetpasswordpage {
  display: flex;
  justify-content: space-between;
}

.forgettitle {
  margin-top: 15%;
  margin-left: 20%;
  
}
.forgetpara {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 14px;
}

.forgetpasswordemail {
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 0.5rem;
  height: 35px;
  width: 20rem;
  border-color: white;
  box-shadow: inset 0 0 2px grey;
  background-color: #F6F6F6;
}

.forgetemail {
  margin-left: 20%;
  
}

.submit1 {
  
  margin-left: 3%;
  margin-bottom: 5%;
  background-color: purple;
  border-color: white;
  color:white;
  border-radius: 0.5rem;
  width: 20.5rem;
  height: 35px;
  font-size: 15px;
}

.forgetpassword-link {
  margin-left: 42%;
  
}


.createaccountpage {
  display:flex;
 
}

.login_pic3 {
  height: 10%;
  width: 21%;
}

.createaccountheader {
  text-align: center;
  font-size: 50px;
  line-height: 0px
}
.createaccountpara {
  text-align: center;
}

.flname {
  display: flex;
  justify-content: space-between;
  
  font-size: 14px;
  
}

.ciname {
  font-size: 14px;
}

.flinput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  
}


.createaccountinput {
  margin-left: 10%;
  margin-right: 10%;
  
  
}

.cinput {
  width: 90%;
  height: 25px;
  border-radius: 0.5rem;
  margin-bottom: 2%;
  box-shadow: inset 0 0 3px grey;
  background-color: #F6F6F6;
  border-color: white;
  
}

.clinput {
  width: 40%;
  height: 25px;
  border-radius: 0.5rem ;
  background-color: #F6F6F6;
  border-color: white;
  box-shadow: inset 0 0 3px grey;
}

.submitcreate{
  margin-top: 5%;
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30px;
  border-radius: 0.5rem;
  color: white;
  background-color: purple;
  border-color: white;

}

.loginicon_navbar {
  margin-top: 27%;
}