*{
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.rectangle{

    background-color: #f3f0f0;
}

/*Top Banner*/
.top_Pic{
    left: 0%;
}

.blog_pic{
    height:100%;
    width: 100%;
  }

.blogheader{
    text-align:center;
    font-size: 45px;
    padding-top: 40px;
}

.shouldI{
    padding-top: 50px;
}

.accounting{
    height: 100%;
    width: 100%;
}

.abss{
    text-align:left;
    font-size: 45px;
    padding-left: 20px;
}

.read-morelink{
    color: #86B8F9;
    text-align:right;
    font-size: 20px;
    padding-right: 30px;
}

.xero{

    padding-top: 200px;
}

.xerovs{
    height: 100%;
    width: 100%;
}

.best{
    text-align:left;
    font-size: 45px;
    padding-left: 20px;
}

.readmore{
    color: #86B8F9;
    text-align:right;
    font-size: 20px;
    padding-right: 30px;
}

.psg{
    padding-top: 200px;
    padding-bottom: 100px;
}

.psgpic{
    height:100%;
    width: 100%;
}

.productivity{
    text-align:left;
    font-size: 45px;
    padding-left: 20px;
}

.readmore-link{
    color: #86B8F9;
    text-align:right;
    font-size: 20px;
    padding-right: 30px;
}

@media only screen and (max-width: 1024px) {
    body {
      background: blue;
    }

    .blogheader {
        font-size: 25px;
    }
}
/* Show lecturer media query */