* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('https://photos.smugmug.com/photos/i-qjT64nb/0/5b9966b1/X3/i-qjT64nb-X3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('https://photos.smugmug.com/Bad-Film/i-KFFrXbx/0/25f7ce34/XL/36706560185-XL.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://photos.smugmug.com/Bad-Film/i-KFFrXbx/0/25f7ce34/XL/36706560185-XL.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  
}

.sign-up, .button-text, a{
  color: white;
}

a:hover{
  color:blue;
}