.contact1 {
    height: 200px;
    background-color: #4D096D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding-top: 20px;
    column-gap: 800px;
    margin-left: 6%;
    margin-right: 5%;
    
}

.cc {
    font-size: 20px;
}

.contact_details {
    font-size: 15px;
}

.socialIcon {
    display: flex;
    background-color: #4D096D;
    
    height: 30px;
    margin: 10px;
    
   
}

.socialIcon:hover {
    cursor: pointer;
}

.footerlink {
    color: white;
    text-decoration: none;
    padding: 4px;
}

.rightccd {
    text-align:left;
}

.leftlogo {
    text-align:left;
}

.contact {
    padding-left: 150px;
    padding-right: 150px;
    background-color: #4D096D;
}

.socialIcon1 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 8%;
}

.fa-brands {
    padding: 6px;
}